body {
    
    margin: 0 auto;
    padding: 0;
    min-width: 320px;
    min-height: 480px;
    width: 100%;
    height: 100%;
        background-color: floralwhite;  

       
}

header {
    
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 15em;
    max-height: 30em;
    background-image: url("img/IMG_1790.JPG");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

header nav {
    
    margin: 0 auto;
    padding: 0;
    width: 40%;
    float: right;
    border: 2px darkgrey solid;
}

header nav a {
    
    margin: 0 auto;
    padding: 0;
    margin-left: 2em;
    font-size: 150%;
    font-family: sans-serif;
    font-weight: 300;
    color: white;
}

header img {
    
    margin: 0;
    padding: 0;
    margin-top: 3em;
    margin-left: 3em;
    width: 50%;
    min-width: 200px;
}

.container {
    
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 480px;
    width: 100%;
    height: 100%;
    
}

#about {
    
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 30em;
    max-height: 50em;
    max-height: 50em;
}

#pic {
    
    margin: 0;
    padding: 0;
    width: 50%;
    float: left;
}

#about-info {
    
    margin: 0;
    padding: 0;
    width: 50%;
    float: left;
    text-align: justify;
    
}

#about-info h1 {
    
    margin: 0;
    padding: 0;
    font-size: 200%;
    font-weight: 300;
    font-family: sans-serif;
    margin-top: 2em;
    margin-left: 2em;

}

#about-info p {
    
    margin: 0 auto;
    padding: 0;
    font-size: 120%;
    font-weight: 300;
    font-family: sans-serif;
    margin-top: 2em;
    width: 80%;
    
    
}

#footer  {
    
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 5em;
    max-height: 10em;
    background-color: black;
}

#footer h1 {
    color: white;
}
